* {
    margin: 0;
    padding: 0;
    font-family: Consolas, monospace;
}

body {
    background: black;
    color: #00ff9f;
    overflow: hidden;
}

/* MATRIX CANVAS */
#matrix {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* MENU */
#menu {
    position: fixed;
    top: 20px;
    left: 20px;
}

#menu .item {
    padding: 8px 15px;
    margin-bottom: 5px;
    background: rgba(0, 255, 120, 0.1);
    border: 1px solid #00ff9f;
    cursor: pointer;
    transition: 0.2s;
}

#menu .item:hover {
    background: #00ff9f;
    color: black;
}

/* LOGO */
#logo {
    position: fixed;
    top: 20px;
    right: 20px;
    text-align: right;
}

#logo h1 {
    font-size: 32px;
    color: #00ff9f;
    text-shadow: 0 0 12px #00ff9f;
}

#logo p {
    opacity: 0.7;
}

/* TERMINAL BOX */
#terminalBox {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    height: 45%;
    padding: 20px;
    border: 1px solid #00ff9f;
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.40);
}

#output {
    white-space: pre-wrap;
    font-size: 16px;
    margin-bottom: 10px;
}

#inputLine {
    display: flex;
    font-size: 18px;
}

.cursor {
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0%, 50% { opacity: 1; }
    51%, 100% { opacity: 0; }
}
