body {
    margin: 0;
    background: black;
    font-family: Consolas, monospace;
    color: #00ff88;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

/* MENU */
#menu {
    position: fixed;
    top: 20px;
    left: 20px;
}
.item {
    padding: 10px 20px;
    margin-bottom: 10px;
    border: 1px solid #00ff88;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}
.item:hover {
    background: #00ff8833;
    box-shadow: 0 0 10px #00ff88;
}

/* LOGO */
#logo {
    text-align: center;
    margin-top: 60px;
    color: #00ff88;
    text-shadow: 0 0 20px #00ff88;
}
#logo h1 {
    font-size: 60px;
    margin: 0;
}
#logo p {
    font-size: 20px;
    opacity: 0.8;
}

/* TERMINAL */
#terminalBox {
    width: 90%;
    margin: 50px auto;
    border: 1px solid #00ff88;
    padding: 20px;
    border-radius: 15px;
    background: #00190088;
    box-shadow: 0 0 15px #00ff88aa;
}
#output {
    min-height: 300px;
    white-space: pre-wrap;
}
.cursor {
    display: inline-block;
    width: 10px;
    background: #00ff88;
    animation: blink 0.4s infinite;
}
@keyframes blink {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}
